# Project: example.nu
site_id="example"
drush_commands="vset --yes file_public_path sites/default/files|vset --yes file_temporary_path /tmp|vset --yes file_private_path sites/default/private/files|upwd admin --password=admin|env-switch loc --force|updb|updb|cc all|fra|cc all|updb|fra|hip|dra|cc all"
db_suffix="db1"
